$HIG$━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━$NOR$
$HIG$游戏规则$NOR$
$HIG$━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━$NOR$

 |1| 严禁利用 Bug 牟利，情节严重者抓到杀档案。

 |2| 禁止无故骚扰别人，告诉乃论，情节严重者抓到杀档案。

 |3| 在公用频道上一次贴出太多的 TEXT 是件不礼貌的事, 初犯者口头警告一次
     再犯的话送保护管训, 三犯送 PURGE 一次。

 |4| 不鼓励偷窃、抢劫、谩骂、侮辱、粗言粗语等行为，告诉乃论，情节严重且无法
     达成和解者抓到杀档案。

 |5| 巫师调处若有不公、牟利特定玩家、或恶意伤害玩家权益，可向神申诉，申诉者
     自负举证之责任。

 |6| 巫师有涉及需要玩家帮助或者协助的工作，
     会公开工作的内容，要求以及奖励方法，
     并且通知到所有玩家（在MUD的进站新闻中），
     所有玩家都可以申请该工作，由巫师工作组
     确定人选，并在完成后公开奖励，以示公平。

 |7| 关于PK规则，ZHII原则上不限制玩家之间的个人
     恩怨，但是以下行为被严格禁止：
      a. 利用BUG获利所得进行PK
      b. 借用他人帐号进行PK
      c. 使用封屏等影响系统之行为进行PK
      d. 使用公用帐号进行PK
      e. 对与事件无关的其他明显弱于自己的人进行PK
         或不定目标的广泛PK

 |8| 不得无故向任何巫师索要物品，要求修改天赋，修改属性、技能等等。新手可以
     找老玩家帮忙，老玩家更不得向巫师提出任何违规要求。违者杀无赦。问题巫师
     就地降职。巫师测试是例外，只此一例。

  上述行为告诉乃论，一经查实，经巫师工作组讨论决定给予杀档处分。
                        
  以上规则即日起生效。

  巫师除了以上的规则都必须遵守外，尚须遵守巫师规则(见 help wiz_rules)，欢迎您
  随时检举违规的巫师。

$HIG$━━━━━━━━━━━━━━━━━━━━━━━━━━@ZHTX2━━━$NOR$

